@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* { /*Zerar a variável*/
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /* Altura da tela */
    box-sizing: border-box; /* Com ele conseguimos criar, por exemplo, uma borda e um padding, ou o que quisermos, e o conteúdo será encolhido para sempre ser mantido dentro do elemento "pai".
    Pode não parecer legal encolher esse conteúdo, mas é isso que faz com que tenhamos controle de como todos os elementos estão funcionando, já que é muito frustrante estar fazendo uma alteração no elemento "filho" e ele sair do "pai.*/
    background-color: black;
    color: white; /*Cor do texto*/
}

.title-strong {
    color: #DF80E8;
}

.presentation {
    margin: 10% 15%; /* Margem*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation__content {
    font-family: "Krona One", sans-serif;
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title {
    font-size: 36px;
}

.presentation__content__text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentation__links {
    display: flex;
    justify-content: space-between;
}

.presentation__links__link {
    background-color: #DF80E8;
    width: 280px;
    padding: 21.5px 0;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}